$TTL 300
@   IN  SOA ns1.bank.test. admin.bank.test. (
        2026042801
        3600
        900
        604800
        300
)

@       60  IN  NS  ns1.bank.test.
@       60  IN  A   ${REAL_WEB_IP}
domain0000 60 IN A  ${REAL_WEB_IP}
domain00000000 60 IN A ${REAL_WEB_IP}
login   60  IN  A   ${REAL_WEB_IP}
api     60  IN  A   ${REAL_WEB_IP}
static  60  IN  A   ${REAL_WEB_IP}
cdn     60  IN  A   ${REAL_WEB_IP}
sso     60  IN  A   ${REAL_WEB_IP}
ns1     IN  A   ${AUTH_IP}
