options {
    directory "/var/cache/bind";
    session-keyfile "/var/cache/bind/session.key";

    listen-on port ${DNS_PORT} { any; };
    listen-on-v6 { none; };

    resolver-query-timeout 30;
    max-recursion-queries 20;

    recursion yes;
    allow-query { any; };
    dnssec-validation no;
    use-v4-udp-ports { ${RESOLVER_ATTACK_UDP_PORT}; };
};

zone "." IN {
    type hint;
    file "/etc/bind/closed-root.hints";
};

zone "bank.test" IN {
    type forward;
    forward only;
    forwarders {
        ${AUTH_IP};
    };
};

zone "external.test" IN {
    type forward;
    forward only;
    forwarders {
        ${EXTERNAL_AUTH_IP};
    };
};
